#root {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  row-gap: 10px;
  column-gap: 10px;
  background-color: rgb(47, 0, 255);


}

.square {
  width: 110px;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(180, 175, 175);
}

svg{
  stroke:chartreuse;
  stroke-width: 10px;
  fill: none;

}

.Cross{
  stroke:orangered ;
  stroke-linecap: round;
}